/.vs
/firefox-*
/librewolf
/mozilla-unified
/tor-browser
/gecko-dev
/bootstrap.py
/mozconfig
/dist
/tmp.nsi
/tmp-permissive.nsi
/tmp-strict.nsi
/__pycache__
/sha256sums.txt
/upload.txt
build_tag
/docker/librewolf/debian10/deb/artifacts
/docker/librewolf/debian11/deb/artifacts
/docker/librewolf/fedora34/rpm/artifacts
/docker/librewolf/mint20/deb/artifacts
/docker/librewolf/ubuntu20/deb/artifacts
/docker/*.log
version
