[submodule "settings"]
	path = settings
	url = https://gitlab.com/librewolf-community/settings.git
[submodule "common"]
	path = common
	url = https://gitlab.com/librewolf-community/browser/common.git
