[submodule "settings"]
	path = settings
	url = https://gitlab.com/librewolf-community/settings.git
[submodule "common"]
	path = common
	url = https://gitlab.com/librewolf-community/browser/common.git
[submodule "linux"]
	path = linux
	url = git@gitlab.com:librewolf-community/browser/linux.git
