[submodule "settings"]
	path = old/settings
	url = https://gitlab.com/librewolf-community/settings.git
[submodule "common"]
	path = old/common
	url = https://gitlab.com/librewolf-community/browser/common.git
